

	<div class="container">
		
			<h2>マイページ</h2>
				<div class= "row">
				<div class="col-xs-9">
					<table>
						<th>登録情報</th>
						<td><%= link_to "編集する", edit_guest_path,class:"btn btn-info"  %></td>
						<td><%= link_to "パスワードを変更する",  edit_guest_registration_path,class:"btn btn-info" %><td>
					</table>
					<table  class = "table table-striped">
						<colgroup span="2">
						<thead>
						</thead>

						<tr>
							<th>氏名</th>
							<td><%= @guest.family_name %><%= @guest.last_name %></td>
						</tr>
						<tr>
							<th>カナ</th><td><%= @guest.family_name_kana %><%= @guest.last_name_kana %></td>
						</tr>
						<tr>
							<th>郵便番号</th><td><%= @guest.postcode %></td>
						</tr>
						<tr>
							<th>住所</th><td><%= @guest.street_adress %></td>
						</tr>
						<tr>
							<th>電話番号</th><td><%= @guest.phone_nember %></td>
						</tr>
						<tr>
							<th>メールアドレス</th><td><%= @guest.email %></td>

						</tr>
					</table>
					<table>
						<tr>
							<th>配送先</th>
							<td><%=link_to "一覧を見る" ,guest_delivery_addresses_path,class:"btn btn-info" %></td>
						</tr>
						<tr>
							<th>注文履歴</th>
							<td><%= link_to "一覧を見る" , guest_orders_path,class:"btn btn-info" %></td>
						</tr>
					</table>
			</div>
		</div>
	</div>