<h2>注文情報確認</h2>
<table>
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
	<%= form_for(@ordered_item,url:guest_orders_path) do |f| %>
	</tr>
	<% @sum = 0 %>
	<% @cart_items.each do |cart_item| %>
	<tr>
		<td><%= cart_item.product.name %></td>
		<td><%= (cart_item.product.non_tax_price * 1.1).floor %></td>
	  	   <td><%= cart_item.quantity %></td>
		<td></td>
		<td><%= @sub_total = (cart_item.product.non_tax_price * 1.1).floor * cart_item.quantity %></td>
		<% @sum += @sub_total %>
		<% end %>
	</tr>
	<% end %>
</table>

<table>
	<%= form_for(@order,url:guest_orders_path) do |f| %>
			<tr>
				<th>送料</th>
				<td><%= @postage %></td>
			</tr>
			<tr>
				<th>商品合計</th>
				<td><%= @sum %></td>
			<tr>
				<th>請求金額</th>
				<td><%= @sum + @postage %></td>
			</tr>
		</table>

		<h4>支払い方法</h4>
		<%= @payment %>
		<%= f.hidden_field :payment_method %>

		<h4>お届け先</h4>
		<%= @order_delivery %>
		<%= f.hidden_field :Dlivery_address, :value => @order_delivery %>
		<%= f.hidden_field :postage, :value => "800" %>
		<%= f.submit "注文を確定する" %>
	<% end %>