<!DOCTYPE html>
<html>
  <head>
  	<title>購入情報入力</title>
  </head>
  <body>
  <div class="container">
  <%= form_for(@order, url: guest_orders_confirm_path) do |f| %>
    <h2>購入情報入力</h2>
    <h5>支払方法</h5>
    <%= f.radio_button(:payment_method, "クレジットカード") %>
    <%= f.label(:payment_method, "クレジットカード", value: "クレジットカード" ) %>
    <%= f.radio_button(:payment_method, "銀行振込") %>
    <%= f.label(:payment_method, "銀行振込", value: "銀行振込") %>

    <h5>お届け先</h5>
    <%= radio_button_tag :Delivery_select,"1" %>ご自身の住所<br>
    <p>郵便番号</p>
    <p>〒<%= current_guest.postcode %></p>
    <p><%= current_guest.street_adress %></p>
    <p><%= current_guest.family_name %><%= current_guest.last_name %></p>

    <p><%= radio_button_tag :Delivery_select,"2"  %>登録済住所から選択</p><br>
    <!--%= f.select :Delivery_address, @a %-->
    <%= select_tag 'Delivery_address', options_for_select(@a) %>

    <p><%= radio_button_tag :Delivery_select,"3" %>新しいお届け先</p>
    <table>
      <tr>
        <p><%= f.label :郵便番号 %>
        <%= text_field_tag :postal_code %>ハイフンなし</p>
      </tr>
      <tr>
        <p><%= f.label :住所 %>
         <%= text_field_tag :postal_adress %></p>
      </tr>
      <tr>
        <p><%= f.label :宛名 %>
        <%= text_field_tag :destination %></p>
      </tr>
    </table>
    <%= f.submit "購入画面へ進む", class:"btn btn-info btn-md" %>
    </div>
  <% end %>
  </body>
</html>