<!DOCTYPE html>
<html>
  <head>
  	<title>注文履歴詳細</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-responsive">
        <p>注文情報</p>
        <tr>
      	  <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y年%-m月%-d日") %></td>
        </tr>
        <tr>
      	  <th>配送先</th>
      	    <td><p>〒<%=  %></p>
      		    <p><%=  %></p>
      		    <p><%= %></p>
      	    </td>
        </tr>
        <tr>
        	<th>支払い方法</th>
          	<td><%=  %></td>
        </tr>
        <tr>
      	  <th>ステータス</th>
      	    <td><%=  %></td>
        </tr>

        <table class="table table-responsive">
        　<div class="col-sm-4">
            <p>請求情報</p>
            <tr>
      	      <th>商品合計</th>
      	      <td><%= %></td>
            </tr>
            <tr>
              <th>配送料</th>
      	        <td><%= %>円</td>
            </tr>
            <tr>
      	      <th>ご請求額</th>
      	        <td><%= %>円</td>
            </tr>
          </div>
        </div>
        </table>

    <div class="row">
      <p>注文内容</p>
          <tr>
      	    <th>商品</th>
      	    <th>単価(税込)</th>
      	    <th>個数</th>
      	    <th>小計</th>
          </tr>
        
        
        <% @order.ordered_items.each do |i| %>
          <tr>
            <td><%= %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
    
  </body>
</html>