
<main role="main" class="container">
<% guest = Guest.with_deleted.find(@order.guest_id) %>
<h2>注文詳細画面</h2>
<table>
	<thead>
		<tr>
			<th>購入者</th>

			<td>
			   <% @family_name = guest.family_name%>
			   <% @last_name = guest.last_name %>
		       <% @name = @family_name + @last_name %>
		       <%= link_to @name ,admin_guest_path(guest.id) %>
			</td>
		</tr>
		<tr>
			<th>配送先</th>
			<td>〒<%=@order.postal_code %><%=@order.postal_adress %> <%=@order.destination %></td>
		</tr>
		<tr>
			<th>支払方法</th>
			<td><%= @order.payment_method  %></td>
		</tr>
		<tr>
			<th>注文ステータス</th>
			<td>
				<%= form_for @order, url:admin_order_path do |f| %>
				<%= f.select :order_status, Order.order_statuses.keys %>
		        <%= f.submit "更新",class:"btn btn-primary" %>
		        <% end %>
			</td>
		</tr>
</table>

<table class="table table-bordered">
	<thead class="thead-light">
		<tr class="active">
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @sum = 0 %>
		<% @order.ordered_items.each do |item| %>
			<tr class="item_<%= item.id %>">
				<td><%= item.product.name %></td>
				<td><%= item.tax_included_price %></td>
				<td><%= item.quantity %></td>
				<td><%= @total_item= item.quantity * item.tax_included_price %>円</td>
                <% @sum += @total_item %>
				<td>
					<%= form_for item, url:admin_path(item.id) do |f| %>
						<%= f.select :production_status,OrderedItem.production_statuses.keys %>
						<%= f.submit "更新",class:"btn btn-primary" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<table class="table table-borderless align-self-end">
        <tbody>
          <tr class="border-bottom border-dark">
            <td>商品合計</td>
            <td><%= @sum %>円</td>
          </tr>

          <tr class="border-bottom border-dark">
            <td>送料</td><% postage = 800 %>
            <td><%= postage %>円</td>
          </tr>

          <tr class="border-bottom border-dark">
            <td>請求合計金額</td>
            <td><%= @sum + postage %>円</td>
          </tr>
        </tbody>
      </table>
</main>
