
<h1>ショッピングカート</h1>



<table>
	<thead>
	  <tr>
	    <th>商品名</th>
	    <th>単価(税込)</th>
	    <th>数量</th>
	    <th>小計</th>
	    <th>   </th>
	  </tr>
	</thead>
	<tbody>
		<% @cart_items.each do |cart_item| %>
	  <tr>
	  	<td><%= cart_item.product.name %></td>
	  	<td><%= cart_item.product.non_tax_price * 1.1 %></td>

	  	<%= form_for cart_item, url: guest_cart_item_path(cart_item) do |f| %>
	  	<td><%= f.number_field :quantity %><%= f.submit "変更" %></td>
	  	<% end %>
	  	<td><%= (cart_item.product.non_tax_price * 1.1).floor * cart_item.quantity %></td>
	  	<td><%= link_to "削除する", guest_cart_item_path(cart_item), method: :delete %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
<p>合計金額</p>

