<div class="product-details">
	<%= form_for @cart_item,url:guest_cart_item_index_path do |f| %>
		<%= attachment_image_tag @product, :image, :fill, 400, 400, format: 'jpeg',fallback: "no_image.jpg" %>
		<h4 class="show-product-name"><%= @product.name %></h4>
		<p class="show-product-comment"></p>
		<div class="show-product-price">¥<%= @product.non_tax_price %>(税込)</div>
		<%= f.hidden_field :product_id, :value => @product.id %>
		<%= f.select :quantity, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]] %>
		<%= f.submit "カートに入れる" %>
	<% end %>
</div>