<main role="main" class="container">
	<h3>商品一覧画面</h3>
	<div class="text-right">
			<%= link_to "NEW",new_admin_product_path, class:"btn btn-primary rounded-circle p-0" %>
	</div>


	<table class="table">
		<thead class="thead-light">
			<tr class="active">
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<% @products.each do |product| %>
		<tbody>
			<tr>
				<td><%= product.id %></td>
				<td><%= link_to product.name, admin_product_path(product.id) %></td>
				<td><%= product.non_tax_price %>円</td>
				<td><%= product.genre.name %></td>
				<td><%= product.sales_status %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</main>