

<main role="main" class="container">

	<h3>商品一覧画面</h3>
<div class="text-right">
<%= link_to "new",new_admin_product_path,class:"btn btn-primary" %>
</button>
</div>
<p> </p>



<table class="table table-bordered">
	<thead class="thead-light">
	  <tr class="active">
	    <th>商品ID</th>
	    <th>商品名</th>
	    <th>税抜価格</th>
	    <th>ジャンル</th>
	    <th>ステータス</th>
	  </tr>
	</thead>
    <% @products.each do |product| %>
	<tbody>
	  <tr>
	  	<td><%= product.id %></td>
	  	<td><%= link_to product.name, admin_product_path(product.id) %></td>
	  	<td><%= product.non_tax_price %>円</td>
	  	<td><%= product.genre.name %></td>
	  	<td><%= product.sales_status %></td>
	  </tr>
	</tbody>
	<% end %>
</table>



<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</main>