
<h3>商品 新規登録画面</h3>

     <input name="image" type="file">

  <div class="input_form">
  <%= form_for @product, url: new_admin_product_path do |f| %>

  	<div class="form_group">
     <p>商品名</p>
     <%= f.text_field :name %>
    </div>

    <div class="form_group">
     <p>商品説明</p>
     <%= f.text_area :comment %>
    </div>

    <div class="form_group">
     <p>ジャンル</p>
     <%= f.select :genre_id, ["ケーキ", "プリン","焼き菓子","キャンディ"], :prompt => "選択してください" %>
    </div>

    <div class="form_group">
     <p>税抜価格</p>
     <%= f.text_field :non_tax_price %>円
    </div>

    <div class="form_group">
     <p>販売ステータス</p>
     <%= f.select :sales_status, ["販売中", "売切れ"], :prompt => "選択してください" %>
    </div>

    <div class="form_group">
     <input type="submit" value="新規登録">
    </div>
  <% end %>
  </div>