
<h3>商品 詳細画面</h3>

        <%= @product.image_id %>
	  	<%= @product.id %>
	  	<%= @product.name %>
	  	<%= @product.non_tax_price %>
	  	<%= @product.genre_id %>
	  	<%= @product.sales_status %>

	  	<%= link_to "edit",edit_admin_product_path(@product.id)%>