<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>配送先登録一覧</h2>
				<%= form_for @delivery_address,url:guest_delivery_addresses_path  do |f| %>
				<table class="delivery new">
					<tr>
					    <th>郵便番号</th>
					    <td><%= f.text_area :postal_code %></td>
					</tr>
				 
					<tr>
					    <th>住所</th>
					    <td><%= f.text_area :postal_adress %></td>
					</tr>

				    <tr>
					    <th>宛名</th>
					    <td><%= f.text_area :destination %></td>
					</tr>
				  </table>
				   <%= f.submit '登録する' %>
				<% end %>
			</div>
		</div>

    <div class="row">
    	<div class="col-xs-12">
			<table class="delivery index">
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
			        <th>宛名</th>
			        <th></th>
				</tr>
				<% @delivery_addresses.each do |delivery| %>
					<tr>
						<td><%= delivery.postal_code %></td>
						<td><%= delivery.postal_adress %></td>
						<td><%= delivery.destination %></td>
						<td><%= link_to "編集する",edit_guest_delivery_address_path(delivery.id) %>
						<%= link_to "削除する",guest_delivery_address_path(delivery.id),method: :delete,"data-confirm"=>"are you sure?"%></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>